body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #3d3c3f;
	height: 100vh;
	font-family: monospace;
}

.word {
	color: #a8b189;
	font-size: 22px;
}

.video {
	width: 90vw;
	max-width: 1024px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.subtitles {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 15px;
	color: #e4cba5;
	font-size: 28px;
}

p {
	margin: 5px;
}

.repeat-word {
	margin-top: 15px;
	color: #e4cba5;
	font-size: 28px;
}
